body{
background:#0a0a0a;
color:white;
font-family:Arial,sans-serif;
padding:20px;
}

header{
text-align:center;
padding:20px;
background:#001f3f;
}

.card{
background:#111;
padding:20px;
margin:20px 0;
border:1px solid #00aaff;
border-radius:15px;
}

a{
color:#00c3ff;
text-decoration:none;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;
display:flex;
justify-content:space-around;
background:#111;
padding:15px;
}

footer{
text-align:center;
margin-top:50px;
padding:20px;
}